body {
    /* 1em=16px */
  font-family: NexaLight;
  font-size: 1em;
  color: white;
}

div a {
    text-decoration: none;
    color: white;
}

h2 {
    font-family: NexaRustSlab-BlackShadow01; 
    padding-top: 3%;
    font-size: 4em;
    letter-spacing: 5px;
    color: white;
    text-align: center;   
}

header {
    background-color: black;
    background-image: url('../images/Chalkboard-background_dark.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* color: white;  */
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: space-evenly;
    padding: 2%;
    font-size: 1.5em;
    color: white;
    font-family: NexaBold;
    text-decoration: none;
    /* text-align: center; */
}

/* .nav-container #order-button {
    background-color: red;
    padding: 20px;
} */

header .logo img{
    width: 230px;
    float: left;
    padding-inline-start: 2%;
    position: absolute;
  
}

.slideshow {
    width: 100%;
}

#menu {
    background-image: url('../images/Chalkboard-background_dark.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white; 
}

.pizza-category, .pasta-category, .salad-category {
    /* border: 1px solid white; */
    text-align: center;
    color: white;
    justify-content: space-between;

    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    font-family: NexaBold;
    margin-right: 8%;
    margin-left: 8%;
}

.pizza-category>*, .pasta-category>*, .salad-category>* {
    flex: 0 0 25%;      
}

.item img:hover {
    transform: scale(1.1);
}

.item-name {
    font-family: NexaBold;
    font-size: 1.5em;
    padding-bottom: 3%;
}

.item-description {
    font-family: NexaLight;
    font-size: 1em; 
    padding-bottom: 2%;
}

.item-price {
    font-family: NexaBold;
    font-size: 1em;
}

.item{
    padding-bottom: 5%;
}

#pasta {
    background-color: white;
}

#pasta h2{
    color: black;
}

.instructions {
    color:#bd202e;
    font-size: 2em;
    font-family: NexaBold;
    text-align: center;
    padding: 2em;
}


.pizza-category img, .pasta-category img, .salad-category img {
    width: 70%;
    padding: 3%;
    /* display: block; */
    margin: auto;
    text-align: center;
}

#order-container {
    background-color: #bd202e;
    height: 100px;
    padding: 3.5%;
    text-align: center;
}

button {
    height: 80px;
    width: 300px;
    border-radius: 24px;
    padding: 30px;
    font-family: NexaBold;
    color: white;
    font-size: 1.3em;
    background-color: #bd202e;
    border: 3px solid white;
}

button:hover {
    color:  #bd202e;
    background-color:white;
}

#company-info {
    background-color: #7c1f2e;
    height: 800px;

}

footer {
    background-color: black;
    padding: 1.5%;
    font-family: NexaBold;
}



 @font-face {
    font-family: NexaRustSlab-BlackShadow01;
    src: url(fonts/NexaRustSlab-BlackShadow01-Free-webfont.woff);
 }

@font-face {
    font-family: NexaBold;
    src: url(fonts/NexaBold.woff);
}

@font-face {
    font-family: NexaLight;
    src: url(fonts/NexaLight.woff);
}


/* phones */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .super-long-content {
        display: none;
    }   
}

@media screen and max-width
